/*Designed by JJ Ying
http://jjying.com*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
}
body{
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
	font-family: 'Source Sans Pro', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	color: #5a6779;
	line-height: 1;
	background: #1f222c;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	list-style-position: inside;
}
input{
	-webkit-transition: all .1s ease-in;
}
.hide{
	opacity: 0;
}
/*~Nav*/
nav{
	background: #20252e;
	width: 8%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	box-shadow: 0px 13px 35px rgba(25,31,54,0.6);
}
.logo{
	color: #fff;
	font-size: 2.5em;
	font-weight: 100;
	width: 100%;
	background: #ff6668;
	padding: .5em;
	display: block;
	height: 110px;
	font-style: italic;
}
/*~Dashboard*/
.dashboard{
	font-size: 1em;
	line-height: 1.5;
	color: #66707d;
	width: 8%;
	position: fixed;
	bottom: 0;
}
.dashboard ul li{
	display: block;
	list-style: none;
	padding: 1em;
	border-top: 1px solid #222;
	text-align: center;
	line-height: 1.1;
	font-weight: 400;
}
.dashboard strong{
	font-weight: 100;
	font-size: 3em;
	color: #ff6668;
	font-family: 'Avenir Next Condensed';
}
/*~Item List*/
aside{
	width: 33%;
	display: fixed;
	height: 100%;
	position: fixed;
	overflow: scroll;
	overflow-x: auto;
	left: 8%;
	z-index: 900;
	box-shadow: 0px 13px 35px rgba(41,54,105,0.6);
}
.item{
	background: #2c313c;
	font-size: 1.5em;
	display: block;
	font-weight: 700;
	line-height: 1.25;
	display: block;
	padding: 1em 1.3em;
	border-bottom: 1px solid #252a33;
	border-right: 5px solid #252a33;
	cursor: pointer;	
	-webkit-transition: all .1s ease-in;
}
.item.highlight{
	background: #222730;
	border-right: 5px solid #171922;
}
.item:hover{
	background: #34c295;
	border-right: 5px solid #3ee6ab;
	border-bottom: 1px solid #34c295;
}
.add-new-item{
	text-align: center;
	background: #1f222c;
	border-right: 5px solid #1f222c;
}
.add-new-item h1{
	font-weight: 100;
}
.add-new-item h1:before{
	content: "+";
	font-weight: 900;
	color: #34c295;
	margin: 0 .3em 0 0;
}
.item:hover h1,
.item:hover h1:before,
.item:hover .item-date{
	color: #fff;
}
h1{
	font-size: 1.25em;
	color: #737a8a;
	font-weight: 400;
	-webkit-transition: all .1s ease-in;
}
.item.highlight h1{
	font-weight: 900;
	color: #cecfd1;
}
.item-date{
	font-size: .75em;
	color: #737a8a;
	background: rgba(0, 0, 0, .25);
	padding: .1em .75em;
	border-radius: 1em;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-transition: all .1s ease-in;
}
.item-date:before{
	content: "•";
	font-weight: 900;
	color: #ff6668;
	margin: 0 .3em 0 0;
}
/* Edit Panel */
.panel{
	font-size: 2em;
	overflow: hidden;
	width: 59%;	
	background: #fff;
	position: fixed;
	right: 0;
	height: 100%;
	display: inline-block;
}
.edit-panel{
	font-size: 2em;
	padding: 1em 2em;
	line-height: 2;
}
h2{
	font-weight: 700;
	line-height: 1.5em;
	margin: 0 0 .5em;
	border-bottom: 2px solid #f4f7fa;
}
h2:before{
	content: "*";
	font-weight: 900;
	color: #ff6668;
	margin: 0 .2em 0 0;
}
.edit-panel section{
	width: 100%;
	float: left;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	background: #fff;
}
h3{
	display: inline-block;
	width: 18%;
	padding: 0 1em 0 0;
	font-weight: 100;
	letter-spacing: -.02em;
	text-transform: uppercase;
	font-size: .7em;
	line-height: 50px;
	vertical-align: middle;
	-webkit-transition: all .1s ease-in;
}
h3:before{
	content: "#";
	padding: 0 .3em 0 0;
	color: #ff6668;
	font-weight: 700;
	-webkit-transition: all .1s ease-in;
}
.edit-panel section:hover h3,
.edit-panel section:hover h3:before{
	color: #34c295;
}
.edit-panel .edit-date,
.edit-panel .edit-duration{

}
.edit-panel .edit-desc textarea{
	height: 200px;
}
input[type=text],textarea{
	border: 1px solid #eef2f6;
	color: #5a6778;
	padding: .35em .5em;
	width: 72%;
	float: right;
	font-size: .8em;
	border-radius: .2em;
	margin: 14px 8% 0 0;
	font-family: monospace;
}
input[type=text]:hover,textarea:hover{
	border: 1px solid #34c295;
	background: #fefefe;
}
input[type=submit]{
	width: 100px;
	height: 32px;
	font-size: 16px;
	line-height: 32px;
	background: #34c295;
	color: #fff;
	font-weight: 700;
	font-family: "Source Sans Pro";
	border-radius: 1em;
	letter-spacing: .2em;
	cursor: pointer;
	text-transform: uppercase;
	position: fixed;
	bottom: 30px;
	box-shadow: 0px 9px 25px rgba(26,204,156,0.35);	
}
input[type=submit]:hover{
	background: #ff6668;
	box-shadow: 0px 9px 25px rgba(255,102,104,0.35);	
}