/*Designed by JJ Ying
http://jjying.com*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
}
body{
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	color: #5a6779;
	line-height: 1;
	background: #1f222c;
}
a{
	text-decoration: none;
	color: #66707d;
}
ul{
	margin: 0;
	list-style-position: inside;
}
input, select, textarea{
	-webkit-transition: all .1s ease-in;
}
.hide{
	opacity: 0;
}
::selection{ 
	background: #34c295;
	color: #fff;
	text-shadow: none;
}
/*~Nav*/
nav{
	background: #191d24;
	width: 8%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	box-shadow: 0px 13px 35px rgba(25,31,54,0.35);
}
.logo{
	color: #fff;
	font-size: 2.5em;
	font-weight: 100;
	width: 100%;
	background: #ff6668;
	padding: .5em;
	display: block;
	height: 110px;
	font-style: italic;
}
nav>ul li{
	list-style: none;
}
nav>ul li .highlight{
	background: #13171c;
	color: #8d98a6;
}
nav>ul li .highlight path{
	fill: #8d98a6;
}
nav>ul li a{
	color: #66707d;
	display: block;
	padding: 1.5em 2em;
	border-bottom: 1px solid #13151c;
	text-align: center;
	-webkit-transition: color .1s ease-out;
}
nav>ul li a:hover{
	color: #fff;
}
nav>ul li svg{
	display: block;
	margin: 0 auto .6em;
	width: 30px;
	height: 30px;
}
nav>ul li svg path{
	fill: #66707d;
	-webkit-transition: all .1s ease-out;	
}
nav>ul li a:hover path{
	fill: #fff;
}
/*~Nav Dashboard*/
.nav-dashboard{
	font-size: 1em;
	line-height: 1.5;
	color: #66707d;
	width: 8%;
	position: fixed;
	bottom: 0;
}
.nav-dashboard ul li{
	display: block;
	list-style: none;
	padding: 1em;
	border-top: 1px solid #1b1f26;
	text-align: center;
	line-height: 1.1;
	font-weight: 400;
	position: relative;
}
.nav-dashboard strong{
	font-weight: 200;
	font-size: 3em;
	color: #ff6668;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
/*~Item List*/
aside{
	width: 30%;
	display: fixed;
	height: 100%;
	position: fixed;
	overflow: scroll;
	overflow-x: auto;
	left: 8%;
	z-index: 900;
	box-shadow: 0px 13px 35px rgba(41,54,105,0.6);
}
.item{
	background: #2c313c;
	font-size: 1.5em;
	display: block;
	font-weight: 700;
	line-height: 1.25;
	display: block;
	padding: 1em 1.3em;
	border-bottom: 1px solid #252b36;
	border-right: 5px solid #252a33;
	cursor: pointer;	
	-webkit-transition: all .1s ease-in;
	position: relative;
}
.item.highlight{
	background: #252b36;
	border-right: 5px solid #171922;
}
.item:hover{
	background: #34c295;
	border-right: 5px solid #3ee6ab;
	border-bottom: 1px solid #34c295;
}
.add-new-item{
	text-align: center;
	border-right: 5px solid #1f222c;
	text-transform: uppercase;
}
.add-new-item h1{
	font-weight: 700;
}
.add-new-item h1:before{
	content: "+";
	font-weight: 900;
	color: #34c295;
	margin: 0 .3em 0 0;
}
.item:hover h1,
.item:hover h1:before,
.item:hover .item-date{
	color: #fff;
}
h1{
	font-size: 1.25em;
	color: #737a8a;
	font-weight: 400;
	-webkit-transition: all .1s ease-in;
}
.item.highlight h1{
	font-weight: 900;
	color: #cecfd1;
}
.item.highlight:hover h1{
	color: #fff;
}
.item-date{
	font-size: .75em;
	color: #737a8a;
	display: inline-block;
	margin-top: .3em;
	background: rgba(0, 0, 0, .25);
	line-height: 1;
	padding: .1em .75em;
	border-radius: 1em;
	font-weight: 300;
	-webkit-transition: all .1s ease-in;
}
.item-date:before{
	content: "•";
	font-weight: 900;
	color: #ff6668;
	margin: 0 .3em 0 0;
}
.item.highlight .item-date:before{
	color: #34c295;
}
/* Edit Panel */
.panel{
	font-size: 2em;
	width: 62%;	
	background: #fff;
	position: fixed;
	right: 0;
	height: 100%;
	display: inline-block;
}
.edit-panel{
	font-size: 2em;
	padding: 1.5em 3.5em 1.5em 2.5em;
	line-height: 2;
}
.edit-panel form{
	overflow: scroll;
	height: 100%;
}
h2{
	font-weight: 700;
	line-height: 1.5em;
	margin: 0 0 .5em;
	border-bottom: 2px solid #f4f7fa;
	-webkit-animation: right-in .25s ease-out 0.1s 1 forwards;
	opacity: 0;
}
h2:before{
	content: "*";
	font-weight: 900;
	color: #ff6668;
	margin: 0 .2em 0 0;
}
.edit-panel section{
	width: 100%;
	float: left;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	opacity: 0;
}
h3{
	display: inline-block;
	width: 18%;
	padding: 0 1em 0 0;
	font-weight: 100;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-size: .7em;
	line-height: 50px;
	vertical-align: middle;
	-webkit-transition: all .1s ease-in;
}
h3:before{
	content: "#";
	padding: 0 .3em 0 0;
	color: #ff6668;
	font-weight: 700;
	-webkit-transition: all .1s ease-in;
}
.edit-panel section:hover h3,
.edit-panel section:hover h3:before{
	color: #34c295;
/*	text-indent: .4em;*/
	font-weight: 400;
}
.edit-panel .edit-desc textarea{
	height: 300px;
	margin-bottom: 90px;
}
.edit-panel section span{
	width: 78%;
	float: right;
	font-size: .75rem;
}
input[type=text],textarea{
	border: 2px solid #eef2f6;
	color: #5a6778;
	padding: .15em .5em;
	font-size: .8em;
	width: 100%;
	border-radius: .2em;
	margin: 14px 8% 0 0;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	-webkit-transition: all .1s ease-in;
	font-size: 1rem;
}
.edit-panel section:hover input[type=text],
.edit-panel section:hover textarea{
	border: 2px solid #34c295;
	background: #fefefe;
	box-shadow: 0px 8px 19px rgba(26,204,156,0.15);
	z-index: 99999;
	-webkit-transform: translate(0,-2px);
}
.edit-duration input,
.edit-date input{
	width: 38px;
	text-align: center;
	margin-right: .4em;
}
input[name=newYear]{
	width: 55px;
}
.edit-panel label{
	margin-right: 1em;
	width: 30px;
	display: inline-block;
}
.edit-panel footer{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
	display: block;
	height: 80px;
	width: 62%;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99999;
}
input[type=submit],
.settings select{
	width: 100px;
	height: 32px;
	display: block;
	font-size: 16px;
	line-height: 32px;
	background: #34c295;
	color: #fff;
	font-weight: 700;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	border-radius: 1em;
	letter-spacing: .2em;
	cursor: pointer;
	text-transform: uppercase;
	margin: 25px auto 0;
	box-shadow: 0px 9px 25px rgba(26,204,156,0.35);
	opacity: 0;
}
input[type=submit]:hover,
.settings select:hover{
	background: #ff6668;
	box-shadow: 0px 9px 25px rgba(255,102,104,0.35);
}
/*~Dashboard*/
.dashboard{
	width: 92%;
	height: 100%;
	background: #fff;
	background: #13171c;
	z-index: 99999;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	opacity: 0;
}
.dashboard section{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-color: #111;
	width: 20%;
	float: left;
	height: 50%;
	padding-top: 8em;
	font-size: 1.4em;
	text-align: center;
	font-weight: 700;
	color: rgba(0, 0, 0, .2);
	color: #334;
	position: relative;
	-webkit-transition: all .1s ease-out;
}
.dashboard section:hover{
	background: rgba(0, 0, 0, .1);
}
.dashboard strong{
	font-size: 8em;
	font-weight: 100;
	color: #789;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	display: block;
	letter-spacing: -.03em;
	color: #ff6668;
}
.dashboard .d-weekday{
	width: 40%;
}
.dashboard .d-weekday ul{
	display: block;
	margin: 0 auto;
	width: 80%;
}
.dashboard .d-weekday li{
	list-style: none;
	float: left;
	width: 14.2857%;
}
.dashboard .d-weekday li label{
	font-size: 1rem;
	padding: .5em 0 0;
	display: block;
	text-align: center;
	border-top: 1px solid #334;
}
.dashboard rect{
	fill: #ff6668;	
}
.dashboard .d-weekday .highest rect{
	fill: #34c295;
}
/*~Settings*/
.settings{
	width: 92%;
	height: 100%;
	background: #f5f5f5;
	z-index: 99999;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	opacity: 0;
	text-align: center;
}
.panel-show{
	display: block;
	opacity: 0;
}
.settings span{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 4em;
	display: block;
	line-height: 1.3;
}
.settings select{
	width: auto;
	padding: 0 1.5em;
	letter-spacing: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/*~Animations*/
.right-in-1{
	-webkit-animation: right-in .3s ease-out 0s 1 forwards;
}
.right-in-2{
	-webkit-animation: right-in .3s ease-out 0.03s 1 forwards;
}
.right-in-3{
	-webkit-animation: right-in .3s ease-out 0.06s 1 forwards;
}
.right-in-4{
	-webkit-animation: right-in .3s ease-out 0.09s 1 forwards;
}
.right-in-5{
	-webkit-animation: right-in .3s ease-out 0.12s 1 forwards;
}
.right-in-6{
	-webkit-animation: right-in .3s ease-out 0.15s 1 forwards;
}
.right-in-7{
	-webkit-animation: right-in .3s ease-out 0.18s 1 forwards;
}
.right-in-8{
	-webkit-animation: right-in .3s ease-out 0.21s 1 forwards;
}
.right-in-9{
	-webkit-animation: right-in .3s ease-out 0.27s 1 forwards;
}
.right-in-10{
	-webkit-animation: right-in .3s ease-out 0.3s 1 forwards;
}
.fade-in{
	-webkit-animation: fade-in .3s ease-out 0s 1 forwards;
}
.panel-in{
	-webkit-animation: panel-in .3s ease-out 0s 1 forwards;
}
.scale-in{-webkit-animation: scale-in .4s ease-out 0s 1 forwards;opacity: 0;}
.scale-in-1{-webkit-animation: scale-in .4s ease-out 0s 1 forwards;opacity: 0;}
.scale-in-2{-webkit-animation: scale-in .4s ease-out 0.1s 1 forwards;opacity: 0;}
.scale-in-3{-webkit-animation: scale-in .4s ease-out 0.2s 1 forwards;opacity: 0;}
.scale-in-4{-webkit-animation: scale-in .4s ease-out 0.3s 1 forwards;opacity: 0;}
.scale-in-5{-webkit-animation: scale-in .4s ease-out 0.4s 1 forwards;opacity: 0;}
@-webkit-keyframes 'right-in' {
	0%{-webkit-transform: translate(80px, 0);opacity:0}
	50%{-webkit-transform: translate(-15px, 0);opacity:0.5}
	70%{-webkit-transform: translate(10px, 0);opacity:0.7}
	85%{-webkit-transform: translate(-5px, 0);opacity:0.85}
	100%{-webkit-transform: translate(0, 0);opacity:1}
}
@-webkit-keyframes 'panel-in' {
	0%{-webkit-transform: translate(780px, 0);opacity:0}
	50%{-webkit-transform: translate(-15px, 0);opacity:0.5}
	70%{-webkit-transform: translate(10px, 0);opacity:0.7}
	85%{-webkit-transform: translate(-5px, 0);opacity:0.85}
	100%{-webkit-transform: translate(0, 0);opacity:1}
}
@-webkit-keyframes 'fade-in' {
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes 'scale-in' {
	0%{-webkit-transform: scale(0);opacity:0}
	50%{-webkit-transform: scale(1.1);opacity:0.5}
	70%{-webkit-transform: scale(0.9);opacity:0.7}
	85%{-webkit-transform: scale(1.05);opacity:0.85}
	100%{-webkit-transform: scale(1);opacity:1}
}
/*~Decorations*/
.item:before,
.nav-dashboard li:before,
.dashboard section:before{
	content: "";
	width: 3px;
	height: 3px;
	border-top: 2px solid #3d4452;
	border-right: 2px solid #3d4452;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	-webkit-transition: all .1s ease-out;
}
.nav-dashboard li:before{
	border-color: #242833;
}
.item:hover:before{
	border-color: #fff;
}