/*Designed by JJ Ying
http://jjying.com*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
}
body{
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	color: #5a6779;
	line-height: 1;
	background: #1f222c;
}
a{
	text-decoration: none;
	color: #ff2d77;
}
ul{
	margin: 0;
	list-style-position: inside;
}
input, select, textarea{
	transition: all .1s ease-in;
}
.hide{
	opacity: 0;
}
::selection{ 
	background: #ff2d77;
	color: #fff;
	text-shadow: none;
}
.hidden-stuff{
	display: none;
}
/*~Nav*/
nav{
	background: #ff2d77;
	width: 8%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);
}
.logo{
	color: #fff;
	font-size: 2.5em;
	font-weight: 100;
	width: 100%;
	padding: .5em;
	display: block;
	height: 110px;
	font-style: italic;
}
nav>ul li{
	list-style: none;
}
nav>ul li .highlight{
	background: rgba(0, 0, 0, .1);
	box-shadow: inset 0px 11px 16px rgba(52, 12, 155, 0.2);
	color: #fff;
}
nav>ul li .highlight path{
	fill: 	rgba(255, 255, 255, .85);
}
nav>ul li a{
	color: 	rgba(255, 255, 255, .65);
	display: block;
	padding: 1.5em .2em;
	/*border-bottom: 1px solid rgba(0, 0, 0, .15);*/
	text-align: center;
	transition: color .1s ease-out;
}
nav>ul li a:hover{
	color: #fff;
}
nav>ul li svg{
	display: block;
	margin: 0 auto .6em;
	width: 30px;
	height: 30px;
}
nav>ul li svg path{
	fill: 	rgba(255, 255, 255, .5);
	transition: all .1s ease-out;
}
nav>ul li a:hover path{
	fill: #fff;
}
/*~Nav Dashboard*/
.nav-dashboard{
	font-size: 1em;
	line-height: 1.5;
	color: rgba(255, 255, 255, .5);
	width: 8%;
	position: fixed;
	bottom: 0;
}
.nav-dashboard ul li{
	display: block;
	list-style: none;
	padding: 1em;
	border-top: 1px solid rgba(0, 0, 0, .15);
	text-align: center;
	line-height: 1.1;
	font-weight: 400;
	position: relative;
}
.nav-dashboard strong{
	font-weight: 200;
	font-size: 3em;
	color: #fff;
	font-family: 'Avenir Next Condensed', 'Alegreya Sans', sans-serif;
}
/*~Item List*/
aside{
	width: 30%;
	display: fixed;
	height: 100%;
	position: fixed;
	overflow: scroll;
	overflow-x: auto;
	left: 8%;
	z-index: 9;
	box-shadow: 0px 10px 25px rgba(41,54,105, .7);
	background: #232733;
}
.item{
	background: rgba(23, 30, 56, .05);
	font-size: 1.5em;
	display: block;
	font-weight: 700;
	line-height: 1.25;
	display: block;
	border-bottom: 1px solid rgba(10, 20, 30, .4);
	cursor: pointer;	
	transition: all .1s ease-in;
	position: relative;
}
.item .item-link{
	padding: 1em 1.3em;
	display: block;
	width: 94%;
}
.add-new-item{
	text-align: center;
	padding: 1em 1.3em;
	border-right: 5px solid #1f222c;
	text-transform: uppercase;
}
.add-new-item h1{
	font-weight: 700;
}
.add-new-item h1:before{
	content: "+";
	font-weight: 900;
	color: #ff2d77;
	margin: 0 .3em 0 0;
}
.item.highlight{
	background: #789;
	border-bottom: 1px solid rgba(10, 20, 30, .8);	
	box-shadow: inset -4px 13px 29px rgba(44, 55, 66, 0.2);
}
.item:hover{
	background: rgba(10, 0, 20, .15);
	box-shadow: none;
}
.item.highlight:hover{
	background: #789;
	color: #fff;
	box-shadow: inset -4px 13px 29px rgba(44, 55, 66, 0.2);	
}
h1{
	font-size: 1.25em;
	color: #90959e;
	font-weight: 400;
	transition: all .1s ease-in;
}
.item.highlight h1{
	font-weight: 400;
	color: #e4eaf7;
}
.item.highlight:hover h1{
	color: #fff;
}
.item-date{
	font-size: .75em;
	color: #777879;
	display: inline-block;
	margin-top: .3em;
	background: rgba(0, 0, 0, .2);
	line-height: 1;
	padding: .1em .75em;
	border-radius: 1em;
	font-weight: 300;
	transition: all .1s ease-in;
}
.item-date:before{
	content: "•";
	font-weight: 900;
	color: #0af;
	margin: 0 .3em 0 0;
}
.item.highlight .item-date:before{
	color: #f03;
}
.item:hover h1,
.item:hover h1:before,
.item.highlight .item-date,
.item:hover .item-date{
	color: #fff;
}
.item-btns{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 6%;
	padding: 8px 0;
	opacity: 0;
	transition: all .15s ease-in;
}
.item.highlight .item-btns,
.item:hover .item-btns{
	opacity: 1;
}
.item-btns a{
	display: block;
	padding: 2px 0 2px;
	margin: 3px 0;
}
.item-btns svg{
	fill: #ff2d77;
	transition: all .15s ease-in;
}
.item-btns a:hover svg,
.item.highlight .item-btns svg{
	fill:  #fff;
}
/* Edit Panel */
.panel{
	font-size: 2em;
	width: 62%;	
	background: #fff;
	position: fixed;
	right: 0;
	z-index: 2;
	height: 100%;
	display: inline-block;
}
.edit-panel{
	font-size: 2em;
	padding: 1.5em 3.5em 1.5em 2.5em;
	line-height: 2;
}
.edit-panel form{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}
h2{
	font-weight: 700;
	line-height: 1.5em;
	margin: 0 0 .5em;
	border-bottom: 2px solid #f4f7fa;
	animation: right-in .25s ease-out 0.1s 1 forwards;
	opacity: 0;
}
h2:before{
	content: "*";
	font-weight: 900;
	color: #ff2d77;
	margin: 0 .2em 0 0;
}
.edit-panel section{
	width: 100%;
	float: left;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	opacity: 0;
}
h3{
	display: inline-block;
	width: 18%;
	padding: 0 1em 0 0;
	font-weight: 300;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-size: .7em;
	line-height: 50px;
	vertical-align: middle;
	transition: all .1s ease-in;
}
h3:before,
.settings label:before{
	content: "#";
	padding: 0 .3em 0 0;
	color: #ff2d77;
	font-weight: 700;
	transition: all .1s ease-in;
}
.edit-panel section:hover h3,
.edit-panel section:hover h3:before{
	color: #ff2d77;
	font-weight: 400;
}
h3 em{
	position: absolute;
	right: .5em;
	top: .2em;
	text-align: left;
	font-style: normal;
	transition: all .15s ease-in-out 0s;
	color: #5a6779;
}
.edit-panel section:hover h3 em{
	opacity: 1;
	transform: translateX(0);
}
h3 em a{
	font-weight: 400;
	transform: translateX(-1em);
	display: inline-block;
	opacity: 0;
	transition: all .15s ease-in-out 0s;
	color: #5a6779;
}
h3 em:hover a{
	color: #ff2d77;
}
.edit-panel section:hover h3 em a{
	opacity: 1;
	transform: translateX(-.3em);
}
.edit-panel .edit-desc textarea{
	height: 200px;
	margin-bottom: 70px;
}
.edit-panel section span{
	width: 78%;
	float: right;
	font-size: .75rem;
}
input[type=text],textarea{
	border: 2px solid #d3dae0;
	color: #789;
	padding: .15em .4em;
	font-size: .8em;
	background: #fff;
	width: 100%;
	border-radius: .2em;
	margin: 14px 8% 0 0;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	transition: all .1s ease-in;
	font-size: 1rem;
}
.edit-panel section:hover input[type=text],
.edit-panel section:hover textarea{
	border: 2px solid #ff2d77;
	background: #fefefe;
	box-shadow: 0px 8px 19px rgba(255,102,104,0.15);
	z-index: 99999;
	/*transform: translate(0,-2px);*/
}
.edit-duration input,
.edit-date input{
	width: 38px;
	text-align: center;
	margin-right: .4em;
}
input[name=newYear]{
	width: 55px;
}
.edit-panel label{
	margin-right: 1em;
	width: 30px;
	display: inline-block;
}
.edit-panel footer{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
	display: block;
	height: 80px;
	width: 62%;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99999;
}
input[type=submit]{
	width: 100px;
	height: 32px;
	display: block;
	font-size: 16px;
	line-height: 32px;
	background: #ff2d77;
	color: #fff;
	font-weight: 700;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	border-radius: 1em;
	letter-spacing: .2em;
	cursor: pointer;
	text-transform: uppercase;
	transition: all .1s ease-out;
	margin: 25px auto 0;
	box-shadow: 0px 9px 25px rgba(255,45,119,0.35);
	opacity: 0;
}
input[type=submit]:hover{
	background: #ff55aa;
	box-shadow: 0px 9px 25px rgba(255,85,170,0.35);
}
/*~Dashboard*/
.dashboard{
	width: 92%;
	height: 100%;
	background: #232733;	
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	opacity: 0;
}
.dashboard section{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-color: rgba(0, 0, 0, .3);
	width: 20%;
	float: left;
	height: 50%;
	padding-top: 7%;
	font-size: 1.4em;
	text-align: center;
	font-weight: 700;
	color: rgba(217, 227, 239, .4);
	position: relative;
	transition: all .1s ease-out;
}
.dashboard section:hover{
	background: rgba(0, 0, 0, .1);
}
.dashboard strong{
	font-size: 8em;
	font-weight: 100;
	color: #ff2d77;
	font-family: 'Avenir Next Condensed', 'Alegreya Sans', sans-serif;
	letter-spacing: -.07em;
	display: block;
	text-shadow: 0px 13px 12px rgba(0,10,20,0.95);
}
.dashboard i{
	font-weight: 400;
	font-style: normal;
	color: rgba(217, 227, 239, .4);
	font-size: 1em;
	margin: .5em 1.5em;
	text-align: center;
	line-height: 1.3;
	display: block;
	text-shadow: 0px 5px 4px rgba(0,10,20,0.35);
}
.dashboard i:before{
	content: "";
	margin: 0 auto .5em;
	width: 50px;
	background: rgba(217, 227, 239, .15);
	display: block;
	height: 1px;
}
.dashboard i span,
.dashboard label span{
	font-weight: 700;
}
.dashboard .d-weekday,
.dashboard .d-duration{
	width: 50%;
}
.dashboard .d-weekday ul{
	display: block;
	margin: 0 auto;
	width: 80%;
}
.dashboard .d-weekday li{
	list-style: none;
	float: left;
	width: 14.2857%;	
	position: relative;
}
.dashboard .d-weekday li:before{
	content: "";
	width: 60%;
	height: 2px;
	left: 20%;
	position: absolute;
	top: 138px;
	display: block;
	box-shadow: 0px 7px 13px rgba(0,0,0,1);
	animation: fade-in 1.3s ease-in 0s;
}
.dashboard .d-weekday .empty:before{
	display: none;
}
.dashboard label{
	font-size: .8rem;
	padding: .5em 0 0;
	display: block;
	text-align: center;
	border-top: 1px solid #334;
	font-weight: 400;
}
.dashboard rect{
	fill: #ff2d77;
}
.dashboard .d-weekday .highest rect{
	fill: #789;
}
.duration-chart-text{
	fill: #789;
	font-size: .8em;
	font-weight: 300;
	display: block;
}
.highest-point{
	stroke: #789;
	stroke-width: 4;
	r: 6px;
}
.average-line{
	stroke: #789;
	opacity: .5;
}
.dashboard-icons path{
	fill: #789;
	opacity: .35;
}
/*~Settings*/
.settings{
	width: 92%;
	height: 100%;
	background: linear-gradient(160deg, #fff, #e2e2e2);
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	opacity: 0;
	text-align: center;
	color: #789;
}
.panel-show{
	display: block;
	opacity: 0;
}
.settings span{
	position: relative;
	top: 25%;
	transform: translateY(-50%);
	font-size: 2.5em;
	display: block;
	line-height: 1.3;
	text-align: left;
}
.settings select{
	width: auto;
	padding: 0 1.5em;
	letter-spacing: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.settings .settings-icon{
	display: block;
	position: relative;
	width: 50%;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}
.gear-icon-1{
	position: absolute;
	left: 47%;
	top: 55%;
}
.gear-icon-2{
	position: absolute;
	left: 30%;
	top: 20%;
}
.gear-icon-1 path{
	animation: rotate-1 1.1s ease-out 0s 1 forwards;
	transform-origin: 50% 50%;	
}
.gear-icon-2 path{
	animation: rotate-2 1.1s ease-out 0s 1 forwards;
	transform-origin: 50% 50%;
}
.settings label{
	width: 40%;
	text-align: right;
	display: inline-block;
	margin: 0 1% 0 10%;
}
.settings-select{
	text-transform: none;
	font-size: 1em;
	font-family: 'Alegreya Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	background: #789;
	border-radius: .2em;
	color: #fff;
	padding: 0 .5em;
	box-shadow: 0px 9px 25px rgba(119,136,153,0.35);
	cursor: pointer;
}
.settings-select:hover{
	box-shadow: 0px 9px 25px rgba(255,45,119,0.35);
	background: #ff2d77
}
/*~Notifications*/
.notification{
	background: #ff2d77;
	color: #fff;
	position: fixed;
	padding: .5em 0;
	font-weight: 700;
	font-size: 2em;
	width: 100%;
	z-index: 99990;
	text-align: center;
	top: -2rem;
	/*display: none;*/
}
.notification-show{
	display: fixed;
	animation: notification-out 2s ease-out 0s 1 forwards;	
}
/*~Animations*/
.right-in-1{animation: right-in .3s ease-out 0s 1 forwards;}
.right-in-2{animation: right-in .3s ease-out 0.03s 1 forwards;}
.right-in-3{animation: right-in .3s ease-out 0.06s 1 forwards;}
.right-in-4{animation: right-in .3s ease-out 0.09s 1 forwards;}
.right-in-5{animation: right-in .3s ease-out 0.12s 1 forwards;}
.right-in-6{animation: right-in .3s ease-out 0.15s 1 forwards;}
.right-in-7{animation: right-in .3s ease-out 0.18s 1 forwards;}
.right-in-8{animation: right-in .3s ease-out 0.21s 1 forwards;}
.right-in-9{animation: right-in .3s ease-out 0.27s 1 forwards;}
.right-in-10{animation: right-in .3s ease-out 0.3s 1 forwards;}

.fade-in{animation: fade-in .3s ease-out 0s 1 forwards;}
.panel-in{
	animation: panel-in .3s ease-out 0s 1 forwards;
}
.scale-in{animation: scale-in .4s ease-out 0s 1 forwards;opacity: 0;}
.scale-in-1{animation: scale-in .4s ease-out 0s 1 forwards;opacity: 0;}
.scale-in-2{animation: scale-in .4s ease-out 0.1s 1 forwards;opacity: 0;}
.scale-in-3{animation: scale-in .4s ease-out 0.2s 1 forwards;opacity: 0;}
.scale-in-4{animation: scale-in .4s ease-out 0.3s 1 forwards;opacity: 0;}
.scale-in-5{animation: scale-in .4s ease-out 0.4s 1 forwards;opacity: 0;}
.scale-in-6{animation: scale-in .4s ease-out 0.7s 1 forwards;opacity: 0;}

.bar-in-1{animation: bar-in .5s ease-out 0.4s 1 forwards; transform-origin:50% 100%;transform: scaleY(0)}
.bar-in-2{animation: bar-in .5s ease-out 0.5s 1 forwards; transform-origin:50% 100%;transform: scaleY(0)}
.bar-in-3{animation: bar-in .5s ease-out 0.6s 1 forwards; transform-origin:50% 100%;transform: scaleY(0)}
.bar-in-4{animation: bar-in .5s ease-out 0.7s 1 forwards; transform-origin:50% 100%;transform: scaleY(0)}
.bar-in-5{animation: bar-in .5s ease-out 0.8s 1 forwards; transform-origin:50% 100%;transform: scaleY(0)}
.bar-in-6{animation: bar-in .5s ease-out 0.9s 1 forwards; transform-origin:50% 100%;transform: scaleY(0)}
.bar-in-7{animation: bar-in .5s ease-out 1s 1 forwards; transform-origin:50% 100%;transform: scaleY(0)}

@keyframes right-in {
	0%{transform: translate(80px, 0);opacity:0}
	50%{transform: translate(-15px, 0);opacity:0.5}
	70%{transform: translate(10px, 0);opacity:0.7}
	85%{transform: translate(-5px, 0);opacity:0.85}
	100%{transform: translate(0, 0);opacity:1}
}
@keyframes panel-in {
	0%{transform: translate(780px, 0);opacity:0}
	50%{transform: translate(-15px, 0);opacity:0.5}
	70%{transform: translate(10px, 0);opacity:0.7}
	85%{transform: translate(-5px, 0);opacity:0.85}
	100%{transform: translate(0, 0);opacity:1}
}
@keyframes fade-in {
	0%{opacity:0}
	100%{opacity:1}
}
@keyframes scale-in {
	0%{transform: scale(0);opacity:0}
	50%{transform: scale(1.1);opacity:0.5}
	70%{transform: scale(0.9);opacity:0.7}
	85%{transform: scale(1.05);opacity:0.85}
	100%{transform: scale(1);opacity:1}
}
@keyframes notification-out {
	0%{top: 0rem;}
	70%{top: 0rem;padding: .5em 0;}
	85%{top: 0rem;padding: 1em 0;}
	100%{top: -6rem;}
}
@keyframes bar-in{
	0%{transform: scaleY(0)}
	50%{transform: scaleY(1.1)}
	70%{transform: scaleY(0.9)}
	85%{transform: scaleY(1.05)}
	100%{transform: scaleY(1)}
}
@keyframes rotate-1 {
	0%{transform: rotate(0deg); opacity: 0;}
	100%{transform: rotate(270deg); opacity: 0.5;}
}
@keyframes rotate-2 {
	0%{transform: rotate(0deg); opacity: 0;}
	100%{transform: rotate(-160deg); opacity: 0.7;}
}
/*~Decorations*/
.item:before,
.nav-dashboard li:before,
.dashboard section:before{
	content: "";
	width: 3px;
	height: 3px;
	border-top: 2px solid #333945;
	border-right: 2px solid #333945;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	transition: all .1s ease-out;
}
.dashboard section:before{
	border-color: rgba(255, 255, 255, .15);
}
.nav-dashboard li:before{
	border-color: rgba(255, 255, 255, .45);
}
.item:hover:before,
.item.highlight:before{
	opacity: 0;
}